{{#partial "contenido"}}

<form name="seleccionarPantallaAdmin">

<div class="jumbotron">
  <h2>Seleccionar accion </h2>
  <br>
  
  <a href="/admin/administrarPois/"> 
  <input class="btn btn-primary btn-lg" value="Administrar POIs">
  </a>
  
  <a href="/admin/administrarTerminales/"> 
  <input class="btn btn-primary btn-lg" value="Administrar Terminales">
  </a>
  
  <a href="/admin/historicoConsultas/"> 
  <input class="btn btn-primary btn-lg" value="Histórico de Consultas">
  </a>
  
  
</div>	

</form>

{{/partial}}

{{>layoutAdmin.hbs}}