{{#partial "contenido"}}

<form name="agregarAcciones" action="/admin/administrarTerminales/{{#each idTerminal}}{{this}}{{/each}}/acciones/" method="POST">

<div class="jumbotron">
  <h2>Acciones para agregar</h2>
  <br>
  
  <table class="table table-stripped">
	<tr>
		<th> Accion </th>
		<th></th>
	</tr>
	
	{{#each acciones}}
		<tr>
			<td> {{this}} </td>
			<td><input class="btn btn-primary btn-lg" type="submit" name="{{this}}" value="Agregar"></td>
		</tr>
	{{/each}}
	</table>
	
	<br><br>
	
	 
  
</div>	

</form>

{{/partial}}

{{>layoutAdmin.hbs}}