{{#partial "contenido"}}

<form name="login" action="/pois" method="GET">

<div class="jumbotron">
  <h2>Buscar Pois</h2>
  <br>
  <label> Descripcion </label> <input type="text" name="descripcion" > </input> <input class="btn btn-primary btn-lg" type="submit" value="Buscar">
  
</div>	

</form>

{{/partial}}

{{>layout.hbs}}