{{#partial "contenido"}}

<form name="nuevaTerminal" action="/admin/administrarTerminales/guardarTerminalEditada/{{id}}" method="POST">

<div class="jumbotron">

	<h2> Nueva terminal </h2>
	<br>

	<label> Nombre: </label>
	<input type="text" name="nombre" value="{{nombre}}"> </input>
	<br>
	<br>

	<strong>Posicion</strong> <br>
	<label> Latitud: </label> <input type="text" name="coordX" value="{{latitud}}"> </input> <br>
	<label> Longitud: </label> <input type="text" name="coordY" value="{{longitud}}"> </input> <br>

	
	<br>
		
  	<input class="btn btn-primary btn-lg" type="submit" value="Aceptar">
  	
  	<a href="/admin/administrarTerminales/"> 
  	<input class="btn btn-primary btn-lg" value="Cancelar">
  	</a>
  
</div>	

</form>

{{/partial}}

{{>layout.hbs}}