{{#partial "contenido"}}

<form name="detallePOI">

<div class="jumbotron">

  {{#with poi}}
	<h1> POI: {{this.nombre}} </h1>
	
	<p><strong>Direccion:</strong> {{this.direccionString}}</p>
{{/with}}
  
</div>	

</form>

{{/partial}}

{{>layout.hbs}}