<html>
<head>
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<link rel="stylesheet"  href="/main.css">
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand"href="/">POIS Ciudad Autónoma de Buenos Aires</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
	{{#block "contenido"}}
	{{/block}}
</div>

<footer class="footer">
    <p class="text-center">
      &copy; 2016 PoisCABA.com
    </p>
</footer>
</body>
</html>