{{#partial "contenido"}}

<form action="/" method ="GET">
<div class="jumbotron">

	<h3>{{excepcion}}</h3>
	<input class="btn btn-primary btn-lg" type="submit" value="Volver">

</div>
</form> 

{{/partial}}

{{>layout.hbs}}